body {
	background-image: url("../images/memphis-rail.jpg");
}

.main-title {
	padding: 20px;
	background: rgba(1, 1, 1, 0.5); 
	color: black;
	/*background-image: url("../images/orientExpress.jpg");*/
}

.text-lead {
	font-weight: bold;
}

#inputHour {
	width: 65px;
}

#inputMinute {
	width: 65px;
}

.military {
	display: inline;
}

#inputName {
	width: 100%;
}

#inputDestination {
	width: 100%;
}

#inputFrequency {
	width: 100%;
}

.all-inputs {
	width: 50%;
}

.table-fluid{
	width: 100%;
}

td {
	height: 30px;	
}
